#container{

	width:400px;
	height:100px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20%;
}
#leftContainer, #rightContainer, #middleContainer{
	display: inline-block;
	margin: 5px;
	height:100px;
	float: left;
}
#middleContainer{
	background-color: 
}
#addButton,#removeButton{
        background-color: rgb(225 107 51);
        border-radius: 5px;
        border:none;
        width:70px;
        height:20px;
        display: block;	
        }
#addButton{
	margin-bottom: 45px;
}
@media only screen and (max-width: 800px){
        #container{
		width: 100%;
	}
}